<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	
	<typeAliases>
		<typeAlias type="com.kh.ReaderForChildren.audioBook_sh.model.vo.Book" alias="Book"/>
		<typeAlias type="com.kh.ReaderForChildren.audioBook_sh.model.vo.AudioBook" alias="AudioBook"/>
		<typeAlias type="com.kh.ReaderForChildren.audioBook_sh.model.vo.BookImage" alias="BookImage"/>
		<typeAlias type="com.kh.ReaderForChildren.audioBook_sh.model.vo.AudioFile" alias="AudioFile"/>
		<typeAlias type="com.kh.ReaderForChildren.member_ej.model.vo.Member" alias="Member"/> 
		<typeAlias type="com.kh.ReaderForChildren.sponsor_ys.model.vo.Sponsor" alias="Sponsor"/>
		<typeAlias type="com.kh.ReaderForChildren.sponsor_ys.model.vo.Support" alias="Support"/>
		<typeAlias type="com.kh.ReaderForChildren.mypage.model.vo.Shipping" alias="Shipping"/>
	</typeAliases>
	
	<mappers>
		<mapper resource="mapper/audioBook-Mapper.xml"/>
		 <mapper resource="mapper/member-mapper.xml"/>
		<mapper resource="mapper/adminPage-mapper.xml"/>
		<mapper resource="mapper/sponsor-Mapper.xml"/>  
		<mapper resource="mapper/support-Mapper.xml"/> 
		<mapper resource="mapper/mypage-Mapper.xml"/> 
		<!-- <mapper resource="mapper/audition-mapper.xml"/> -->
	</mappers>
</configuration>
