@charset "UTF-8";

h1 {
	margin-bottom: 100px;
}

span, label {
	vertical-align: middle;
	font-size: 1.2rem;
}

.star {
	color: red;
	font-weight: bold;
}

h2 {
	font-size: 1.8rem;
	font-weight: bold;
}

th {
	font-weight: bold;
}

.divblank {
	padding: 20px;
}

#applyForm, #updateForm {
	border: 1px solid black;
	margin-left: 50px;
	margin-right: 50px;
	font-size: 15px;
}

#profileArea {
	position: relative;
}

/* #imgCon {
	font-size: 12px;
} */

#proImgArea {
	border: 1px solid black;
	width: 150px;
	height: 150px;
	position: absolute;
	margin-left: 50px;
	margin-top: 30px;
	text-align: center;
	overflow: hidden;
}

#proImg {
	cursor: pointer;
	width: 150px;
	height: 150px;
}

#profileCon {
	margin-left: 230px;
	margin-top: 50px;
	width: 70%;
	height: 100px;
	text-align: left;
}

#profileCon th {
	/* background: lightgray; */
	padding-left: 10px;
}


#profileCon th, #profileCon td {
	padding-top: 10px;
	padding-bottom: 10px;
	border-top: 2px solid gray;
	vertical-align: middle;
}

.inputSize {
	width: 100px;
	height: 30px;
	outline: none;
	font-size: 13px;
}

.emailSize {
	width: 130px;
	height: 30px;
	font-size: 13px;	
}

#careerArea {
	margin-bottom: 100px;
}
#careerCon {
	margin: auto;
	margin-left: 100px;
	width: 700px;
	margin-top: 30px;
	text-align: center;
}

.careerBorder {
	border: 1px solid black;
}

#careerCon th {
	background: lightgray;
}

#careerCon td {
	height: 10px;
}

.careerInput {
	border: none;
	width: 100%;
	text-align: center;
}

#plusBtn{
	 width: 25px;
	 height: 25px;
	 margin-top: 20px;
}

.minusBtn{
	width: 20px;
	height: 20px;
}

#introArea{
	margin-top: 30px;
}

#recordArea{
	margin-top: 30px;
	margin-left: 60px;
	margin-bottom: 50px;
}

#recordSpan {
	font-weight:bold; 
	background:lightgray; 
	border-radius: 4px;
	margin-right: 5px;
	height: 10px;
}
