<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee https://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<!-- The definition of the Root Spring Container shared by all Servlets and Filters -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			<!-- /WEB-INF/spring/root-context.xml -->
			classpath:root-context.xml 
			<!-- 회사마다 두는 위치는 다른데 일반적으로 src//resources에 둠 sql하고 같이 관리하기 위해서 -->
			/WEB-INF/spring/spring-security.xml
		</param-value>
	</context-param>
	
	<!-- Creates the Spring Container shared by all Servlets and Filters -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<!-- Processes application requests -->
	<servlet>
		<servlet-name>appServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/spring/appServlet/servlet-context.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
		
	<servlet-mapping>
		<servlet-name>appServlet</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>
	
	
	<!-- 오디오북 관련 -->
	<servlet>
		<servlet-name>audioBookServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/spring/appServlet/audioBook-context.xml</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>audioBookServlet</servlet-name>
		<url-pattern>*.ab</url-pattern>
	</servlet-mapping>
	
	<!-- 관리자페이지 관련 -->
	<servlet>
		<servlet-name>adminPageServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/spring/appServlet/adminPage-context.xml</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>adminPageServlet</servlet-name>
		<url-pattern>*.ad</url-pattern>
	</servlet-mapping>
	
	<!-- 이벤트 관련 -->
	<servlet>
		<servlet-name>eventServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/spring/appServlet/event-context.xml</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>eventServlet</servlet-name>
		<url-pattern>*.ev</url-pattern>
	</servlet-mapping>
	
	<!-- 스폰서 관련 -->
	<servlet>
		<servlet-name>sponsorServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/spring/appServlet/sponsor-context.xml</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>sponsorServlet</servlet-name>
		<url-pattern>*.sp</url-pattern>
	</servlet-mapping>
	
	<!-- 오디션 관련 -->
	<servlet>
		<servlet-name>auditionServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/spring/appServlet/audition-context.xml</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>auditionServlet</servlet-name>
		<url-pattern>*.au</url-pattern>
	</servlet-mapping>
	
	<!-- 녹음부스 관련 -->
	<servlet>
		<servlet-name>recordServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/spring/appServlet/record-context.xml</param-value>
		</init-param>
	</servlet>		
	<servlet-mapping>
		<servlet-name>recordServlet</servlet-name>
		<url-pattern>*.re</url-pattern>
	</servlet-mapping>
	
	<!-- 공용 에러페이지 등록 -->
	<error-page>
		<exception-type>java.lang.Exception</exception-type>
		<location>/WEB-INF/views/common/errorPage.jsp</location>
	</error-page>
	
	<!-- 한글 깨짐 방지 인코딩 -->
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- 회원 관련 -->
	<servlet>
		<servlet-name>memberServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/spring/appServlet/member-context.xml</param-value>	
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>memberServlet</servlet-name>
		<url-pattern>*.me</url-pattern>
	</servlet-mapping>
	
	<!-- 마이페이지 리스트 관련 -->
	<servlet>
		<servlet-name>listServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/spring/appServlet/list-context.xml</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>listServlet</servlet-name>
		<url-pattern>*.li</url-pattern>
    </servlet-mapping>
	<!-- 자원봉사 관련 -->
	<servlet>
		<servlet-name>volunteerServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/spring/appServlet/volunteer-context.xml</param-value>	
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>volunteerServlet</servlet-name>
		<url-pattern>*.vo</url-pattern>
	</servlet-mapping>
	
	<!-- 채팅 -->
	<servlet>
		<servlet-name>chatServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/spring/appServlet/chat-context.xml</param-value>	
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>chatServlet</servlet-name>
		<url-pattern>*.ch</url-pattern>
	</servlet-mapping>
	
	
	

</web-app>
