<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="adminPageMapper">
	
	<resultMap type="Member" id="MemberResultSet">
		<id property="userId" column="user_id"/>
		<result property="userPwd" column="user_pwd"/>
		<result property="userName" column="user_name"/>
		<result property="birth" column="birth"/>
		<result property="postalCode" column="postal_code"/>
		<result property="bAddress" column="b_address"/>
		<result property="lAddress" column="l_address"/>
		<result property="email" column="email"/>
		<result property="phone" column="phone"/>
		<result property="gender" column="gender"/>
		<result property="donation" column="donation"/>
		<result property="revenue" column="revenue"/>
		<result property="division" column="division"/>
		<result property="status" column="status"/>
	</resultMap>
	
	<resultMap type="Event" id="eventResultSet">
		<id property="eNum" column="e_num"/>
		<result property="eTitle" column="e_title"/>
		<result property="eStart" column="e_start"/>
		<result property="eEnd" column="e_end"/>
		<result property="eAnno" column="e_anno"/>
		<result property="eTarget" column="e_target"/>
		<result property="eContent" column="e_content"/>
		<result property="eWay" column="e_way"/>
		<result property="eStand" column="e_stand"/>
		<result property="eDate" column="e_date"/>
		<result property="eCount" column="e_count"/>
		<result property="eStatus" column="e_status"/>
		<result property="eDivision" column="e_division"/>
		<result property="eEventNum" column="e_eventnum"/>
		<result property="originName" column="origin_name"/>
		<result property="changeName" column="change_name"/>
		<result property="imPath" column="im_path"/>
	</resultMap>
	
	<resultMap type="Support" id="supportResultSet">
		<id property="snum" column="SNUM"/>
		<result property="donation" column="DONATION"/>
		<result property="supdate" column="SUP_DATE"/>
		<!-- <result property="userNAME" column="USER_NAME"/> -->
		 <result property="userId" column="USER_ID"/> 
		<result property="spName" column="SP_NAME"/>
	</resultMap>
	
	<resultMap type="Reader" id="readerResultSet">
		<id property="userId" column="user_id"/>
		<result property="introduce" column="introduce"/>
		<result property="imgOrigin" column="img_origin"/>
		<result property="imgChange" column="img_change"/>
		<result property="imgPath" column="img_path"/>
		<result property="recName" column="rec_name"/>
		<result property="recPath" column="rec_path"/>
		<result property="enrollDate" column="enroll_date"/>
		<result property="status" column="status"/>
		<result property="aNum" column="anum"/>
	</resultMap>
	
	<resultMap type="Audition" id="auditionResultSet">
		<id property="aNum" column="ANUM"/>
		<result property="bkName" column="BK_NAME"/>
		<result property="qGender" column="Q_GENDER"/>
		<result property="qAge" column="Q_AGE"/>
		<result property="qCareer" column="Q_CAREER"/>
		<result property="request" column="REQUEST"/>
		<result property="status" column="STATUS"/>
		<result property="teName" column="TE_NAME"/>
		<result property="tePath" column="TE_PATH"/>
		<result property="downCount" column="DOWN_COUNT"/>
		<result property="uploadDate" column="UPLOAD_DATE"/>
		<result property="biName" column="BI_NAME"/>
		<result property="biPath" column="BI_PATH"/>
		<result property="endDate" column="END_DATE"/>
	</resultMap>
	
	<resultMap type="Career" id="careerResultSet">
		<id property="cNum" column="CNUM"/>
		<id property="userId" column="USER_ID"/>
		<result property="cDate" column="C_DATE"/>
		<result property="cContent" column="C_CONTENT"/>
		<result property="cCompany" column="C_COMPANY"/>
	</resultMap>

	<resultMap type="Admin" id="AdminSet">
		<id property="userId" column="AD_id"/>
		<result property="userPwd" column="ad_pwd"/>
		<result property="userName" column="ad_name"/>
	</resultMap>
	
	<select id="selectUserList" resultMap="MemberResultSet">
		select *
		from member
		where status = 'Y'
		order by regexp_replace(user_id, '[0-9]'), to_number(regexp_replace(user_id, '[^0-9]')) asc
	</select>
	
	<select id="selectUserSearch" parameterType="string" resultMap="MemberResultSet">
		select *
		from member
		where status='Y'and user_id like '%' || #{userId} || '%'
		order by regexp_replace(user_id, '[0-9]'), to_number(regexp_replace(user_id, '[^0-9]')) asc
	</select>
	
	<select id="selectUserInfo" resultMap="MemberResultSet">
		<!-- 후원, 리더랑 join 수정해야함! -->
		select *
		from member
		where status='Y' and user_id = #{userId}
	</select>
	
	<select id="adminLogin" resultMap="AdminSet">
		select *
		from admin
		where ad_id = #{userId} and ad_pwd = #{userPwd}
	</select>
	
	<select id="eventWinnerList" resultMap="eventResultSet">
		select *
		from event
		order by e_num desc
	</select>
	
	<select id="eventIngList" resultMap="eventResultSet">
		select *
		from event
		where e_division = 1
		order by e_num desc
	</select>
	
	<select id="eventEndList" resultMap="eventResultSet">
		select *
		from event
		where e_division = 2
		order by e_num desc
	</select>
	
	<select id="selectSponsorList" resultMap="supportResultSet">
		select *
		from support
		order by snum desc
	</select>
	
	<select id="sponsorSearch" resultMap="supportResultSet">
		select *
		from support
		where sp_name like '%' || #{spName} || '%'
		order by snum desc
	</select>
	
	<select id="selectAuditionList" resultMap="readerResultSet">
		select *
		from reader
	</select>
	
	<select id="selectCategoryAdutionList" resultMap="readerResultSet">
		select *
		from reader
		<where>
			<choose>
				<when test="selectbox == '미응답'">status = 0</when>
				<when test="selectbox == '합격'">status = 1</when>
				<when test="selectbox == '불합격'">status = 2</when>
				<when test="selectbox == '영구정지'">status = 3</when>
			</choose>
		</where>
	</select>
	
	<select id="selectReader" resultMap="readerResultSet">
		select *
		from reader
		where user_id=#{userId}
	</select>
	
	<select id="selectCareer" resultMap="careerResultSet">
		select *
		from career
		where user_id=#{userId}
	</select>
	
	<select id="selectAudition" resultMap="auditionResultSet">
		select *
		from audition
		where anum=#{aNum}
	</select>
	
	<select id="selectUser" resultMap="MemberResultSet">
		select *
		from member
		where user_id=#{userId}
	</select>
	
	<update id="resultPassReadTable">
		update reader
		set status = 1
		where user_id=#{userId}
	</update>
	
	<update id="resultPassMemberTable">
		update member
		set division = 2
		where user_id=#{userId}
	</update>
	
	<update id="resultFailReaderTable">
		update reader
		set status = 2
		where user_id=#{userId}
	</update>
	
	<update id="resultBanReaderTable">
		update reader
		set status = 3
		where user_id=#{userId}
	</update>
	
	<update id="resultBanMemberTable">
		update member
		set status = 'N'
		where user_id=#{userId}
	</update>
	
	<select id="selectUserSupport" resultMap="supportResultSet">
		select *
		from support
		where user_id=#{userId}
		order by sup_date desc
	</select>
	
	<select id="buyerListView" resultType="AdminOrderList">
		select *
		from admin_orderlist
		order by or_no desc
	</select>
	
	
	
		
</mapper>