<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="audioBookMapper">
	
	<select id="getListCount" resultType="_int">
		select count(*)
		from book
		where bk_status='Y'
	</select>
	
	<select id="selectbList" resultMap="bookResultSet">
		select *
		from book
		where bk_status='Y'
		order by bk_code desc
	</select>
	<resultMap type="Book" id="bookResultSet">
		<id property="bkCode" column="BK_CODE"/>
		<result property="bkName" column="BK_NAME"/>
		<result property="bkWriter" column="BK_WRITER"/>
		<result property="bkDraw" column="BK_DRAW"/>
		<result property="bkPublisher" column="BK_PUBLISHER"/>
		<result property="bkPage" column="BK_PAGE"/>
		<result property="bkIntro" column="BK_INTRO"/>
		<result property="bkPubdate" column="BK_PUBDATE"/>
		<result property="bkPrice" column="BK_PRICE"/>
		<result property="bkStatus" column="BK_STATUS"/>
	</resultMap>
	
	<select id="selectbiList" resultMap="bookImageResultSet">
		select *
		from book_image
		where bi_status='Y'
		order by bk_code desc
	</select>
	<resultMap type="BookImage" id="bookImageResultSet">
		<id property="biNo" column="BI_NO"/>
		<result property="originName" column="ORIGIN_NAME"/>
		<result property="changeName" column="CHANGE_NAME"/>
		<result property="biPath" column="BI_PATH"/>
		<result property="uploadDate" column="UPLOAD_DATE"/>
		<result property="biStatus" column="BI_STATUS"/>
		<result property="bkCode" column="BK_CODE"/>
	</resultMap>
	
	<select id="selectabList" resultMap="audioBookResultSet">
		select *
		from audio_book
		where aud_status='Y' and mod(aud_code,2)=1
		order by aud_code desc
	</select>
	
	<select id="getSearchListCount" resultType="_int">
		select count(*)
		from book
		where bk_status='Y'
		<if test="title != null">
			and bk_name like '%' || #{title} || '%'
		</if>
		<if test="writer != null">
			and bk_writer = #{writer}
		</if>
		<if test="publisher != null">
			and bk_publisher like '%' || #{publisher} || '%'
		</if>
	</select>
	
	<select id="selectSearchbList" resultMap="bookResultSet">
		select *
		from book
		where bk_status='Y'
		<choose>
			<when test="title != null">
				and bk_name like '%' || #{title} || '%'
			</when>
			<when test="writer != null">
				and bk_writer = #{writer}
			</when>
			<otherwise>
				and bk_publisher like '%' || #{publisher} || '%'
			</otherwise>
		</choose>
		order by bk_code desc
	</select>
	
	<select id="selectBook" parameterType="_int" resultMap="bookResultSet">
		select *
		from book
		where bk_status='Y' and bk_code=#{bkCode}
	</select>
	
	<select id="selectAudioBook" parameterType="_int" resultMap="audioBookResultSet">
		select *
		from audio_book
		where aud_status='Y' and bk_code=#{bkCode}
		order by aud_code
	</select>
	<resultMap type="AudioBook" id="audioBookResultSet">
		<id property="audCode" column="AUD_CODE"/>
		<result property="audDate" column="AUD_DATE"/>
		<result property="audPrice" column="AUD_PRICE"/>
		<result property="rdName" column="RD_NAME"/>
		<result property="rdIntro" column="RD_INTRO"/>
		<result property="audStatus" column="AUD_STATUS"/>
		<result property="bkCode" column="BK_CODE"/>
	</resultMap>
	
	<select id="selectBookImage" parameterType="_int" resultMap="bookImageResultSet">
		select *
		from book_image
		where bi_status='Y' and bk_code=#{bkCode}
	</select>
	
	<select id="selectAudioFile" parameterType="_int" resultMap="audioFileResultSet">
		select af_code, origin_name, change_name, file_path, upload_date, status, user_id, aud_code
		from audio_file
    		join audio_book using(aud_code)
		where status='Y' and bk_code=#{bkCode}
		order by af_code
	</select>
	<resultMap type="AudioFile" id="audioFileResultSet">
		<id property="afCode" column="AF_CODE"/>
		<result property="originName" column="ORIGIN_NAME"/>
		<result property="changeName" column="CHANGE_NAME"/>
		<result property="filePath" column="FILE_PATH"/>
		<result property="uploadDate" column="UPLOAD_DATE"/>
		<result property="status" column="STATUS"/>
		<result property="userId" column="USER_ID"/>
		<result property="audCode" column="AUD_CODE"/>
	</resultMap>
	
	<insert id="insertBook" parameterType="Book">
		insert into book
		values(seq_book.nextval, #{bkName}, #{bkWriter}, #{bkDraw},
			#{bkPublisher}, #{bkPage}, #{bkIntro}, #{bkPubdate}, #{bkPrice}, default)
	</insert>
	
	<insert id="insertBookImage" parameterType="BookImage">
		insert into book_image
		values(seq_bi.nextval, #{originName}, #{changeName}, #{biPath}, sysdate, default, seq_book.currval)
	</insert>
	
	<insert id="insertAudioBook" parameterType="AudioBook">
		insert into audio_book
		values(seq_aub.nextval, #{audDate}, #{audPrice}, #{rdName}, #{rdIntro}, default, seq_book.currval)
	</insert>
	
	<insert id="insertAudioFile" parameterType="AudioFile">
		insert into audio_file
		values(seq_af.nextval, #{originName}, #{changeName}, #{filePath}, sysdate, default, #{userId}, seq_aub.currval)
	</insert>
	
	<select id="selectDefaultSA" parameterType="string" resultType="_int">
		select s_no
		from shipping
		where s_status='Y' and user_id=#{userId} and r_level=0
	</select>
	
	<select id="selectShipAddList" parameterType="string" resultMap="shippingResultSet">
		select *
		from shipping
		where s_status='Y' and user_id=#{userId}
		order by r_level asc, s_no desc
	</select>
	<resultMap type="Shipping" id="shippingResultSet">
		<id property="sNo" column="S_NO"/>
		<result property="sName" column="S_NAME"/>
		<result property="rName" column="R_NAME"/>
		<result property="rPhone" column="R_PHONE"/>
		<result property="rZipcode" column="R_ZIPCODE"/>
		<result property="rBasicadd" column="R_BASICADD"/>
		<result property="rDetailadd" column="R_DETAILADD"/>
		<result property="sStatus" column="S_STATUS"/>
		<result property="rLevel" column="R_LEVEL"/>
		<result property="userId" column="USER_ID"/>
	</resultMap>
	
	<insert id="addShipAddress" parameterType="Shipping">
		insert into shipping
		values(seq_ship.nextval, #{sName}, #{rName}, #{rPhone},
				#{rZipcode}, #{rBasicadd}, #{rDetailadd}, default, default, #{userId})
	</insert>
	
	<insert id="orderInsert">
		insert into order_detail
		values(seq_or.nextval, #{bkCode}, #{audCodeF}, #{audCodeM}, #{orPrice}, default,
				#{delRequest}, default, default, #{containBk}, #{sNo}, #{userId})
	</insert>
	
	<update id="deleteBook" parameterType="_int">
		update book
		set bk_status='N'
		where bk_code=#{bkCode}
	</update>
	
	<update id="deleteAudioBook" parameterType="_int">
		update audio_book
		set aud_status='N'
		where bk_code=#{bkCode}
	</update>
	
	<update id="deleteBookImage" parameterType="_int">
		update book_image
		set bi_status='N'
		where bk_code=#{bkCode}
	</update>
	
	<update id="deleteAudioFile" parameterType="_int">
		update audio_file
		set status='N'
		where aud_code in (select aud_code
        					from audio_book
        					where bk_code=#{bkCode})
	</update>
	
	
	<insert id="cartInsert">
		insert into cart
		values(seq_cart.nextval, #{userId}, #{bkCode}, #{audCodeF}, #{audCodeM}, #{containBk}, default, #{cPrice})
	</insert>
	
	
	<update id="updateBook">
		update book
		set bk_name=#{bkName}, bk_writer=#{bkWriter}, bk_draw=#{bkDraw}, bk_publisher=#{bkPublisher},
    		bk_page=#{bkPage}, bk_intro=#{bkIntro}, bk_pubdate=#{bkPubdate}, bk_price=#{bkPrice}
		where bk_code=#{bkCode}
	</update>
	
	<update id="updateBookImage">
		update book_image
		set origin_name=#{originName}, change_name=#{changeName}, upload_date=sysdate
		where bi_no=#{biNo}
	</update>
	
	<update id="updateAudioBook">
		update audio_book
		set aud_date=#{audDate}, aud_price=#{audPrice}, rd_name=#{rdName}, rd_intro=#{rdIntro}
		where aud_code=#{audCode}
	</update>
	
	<update id="updateAudioFile">
		update audio_file
		set origin_name=#{originName}, change_name=#{changeName}, upload_date=sysdate
		where af_code=#{afCode}
	</update>
	
	
	<select id="selectBestList" resultMap="bookImageResultSet">
		<![CDATA[
			select bi_no, origin_name, change_name, bi_path, upload_date, bi_status, bk_code
			from(select *
    			from book_image
        			join bestview using(bk_code)
                where bi_status='Y'    
    			order by sales desc)
			where rownum < 4
		]]>	
	</select>
	
	
	<select id="selectcartList" resultMap="cartListResultSet">
	select *
	from cart_list
	where status = 'Y' and c_no = #{cNo}
	</select>
	
	<resultMap type="cartList" id="cartListResultSet">
		<id property="cNo" column="C_NO"/>
		<result property="bkName" column="BK_NAME"/>
		<result property="status" column="STATUS"/>
		<result property="bkCode" column="BK_CODE"/>
		<result property="audCodeF" column="AUD_CODE_F"/>
		<result property="audCodeM" column="AUD_CODE_M"/>
		<result property="cPrice" column="C_PRICE"/>
		<result property="userId" column="USER_ID"/>
		<result property="changeName" column="CHANGE_NAME"/>
		<result property="containBk" column="CONTAIN_BK"/>
	</resultMap>
	
	
</mapper>
