<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="auditionMapper">

	<select id="selectList" resultMap="auditionResultSet">
		select *
		from audition
		where status='Y'
		order by aNum
	</select>
	
	<resultMap type="Audition" id="auditionResultSet">
		<id property="aNum" column="ANUM"/>
		<result property="bkName" column="BK_NAME"/>
		<result property="qGender" column="Q_GENDER"/>
		<result property="qAge" column="Q_AGE"/>
		<result property="qCareer" column="Q_CAREER"/>
		<result property="request" column="REQUEST"/>
		<result property="status" column="STATUS"/>
		<result property="teName" column="TE_NAME"/>
		<result property="tePath" column="TE_PATH"/>
		<result property="downCount" column="DOWN_COUNT"/>
		<result property="uploadDate" column="UPLOAD_DATE"/>
		<result property="biName" column="BI_NAME"/>
		<result property="biPath" column="BI_PATH"/>
		<result property="endDate" column="END_DATE"/>
	</resultMap>
	
	<insert id="insertAudition" parameterType="Audition">
		insert into audition 
		values(#{aNum},#{bkName},#{qGender},#{qAge},#{qCareer},#{request},default,
			   #{teName},#{tePath},default,sysdate,#{biName},#{biPath},#{endDate})
	</insert>
	
	<select id="selectAudition" parameterType="_int" resultMap="auditionResultSet">
		select * from audition where anum = #{aNum} and status='Y'
	</select>
	
	<update id="updateAudition" parameterType="Audition">
		update audition 
		<set>
			anum=#{aNum}, bk_name=#{bkName}, q_gender=#{qGender}, q_age=#{qAge}, q_career=#{qCareer}, request=#{request}, end_date=#{endDate}
			<if test="tePath != null">
				te_name=#{teName}, te_path=#{tePath},
			</if>
			<if test="biPath != null">
				bi_name=#{biName}, bi_path=#{biPath}			
			</if>
		</set>
		where anum=#{aNum}
	</update>
	
	<update id="deleteAudition" parameterType="_int">
		update audition
		set status='N', anum=#{aNum}+10
		where anum=#{aNum}
	</update>
	
	<insert id="insertCareer" parameterType="ArrayList">
		<foreach collection="cArr" item="c">
			insert into career values(seq_cnum.nextval, #{c.userId} #{c.cDate}, #{c.cContent}, #{c.cCompany}) 
		</foreach>
	</insert>
	
	<insert id="insertApply" parameterType="Reader">
		insert into reader 
		values(#{userId},#{cDate},#{career},#{company},#{introduce},default,
				#{aNum},#{originName},#{changeName},#{imPath},default,#{recName},#{recPath})
	</insert>
	
</mapper>

