<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mypageMapper">

	<select id="getListCount" resultType="_int">
		select count(*)
		from rec_booth
		where re_status='Y'
	</select>  
	
	<select id="selectList" resultMap="recResultSet">
		select *
		from rec_booth
		where re_status='Y'
		order by rid desc
	</select>
	
	<resultMap type="Rec" id="recResultSet">
      <id property="rid" column="RID"/>
      <result property="lat" column="LAT"/>
      <result property="lon" column="LON"/>
      <result property="city" column="CITY"/>
      <result property="address" column="ADDRESS"/>
      <result property="rdate" column="RDATE"/>
      <result property="rtime" column="RTIME"/>
      <result property="userId" column="USER_ID"/>
      <result property="restatus" column="RE_STATUS"/>
   </resultMap>
	
	
	<select id="getshListCount" resultType="_int">
		select count(*)
		from shipping
		where s_status='Y'
	</select> 
	
	<select id="selectshList" resultMap="ShippingResultSet">
		select *
		from shipping
		where s_status='Y' and user_id=#{userId}
		order by s_no desc
	</select> 
	 <select id="selectShipping" parameterType="_int" resultMap="ShippingResultSet">
		select *
		from shipping
		where user_id=#{userId} and s_status='Y'
	</select> 
	
	<resultMap type="Shipping" id="ShippingResultSet">
      <id property="sNo" column="S_NO"/>
      <result property="sName" column="S_NAME"/>
      <result property="rName" column="R_NAME"/>
      <result property="rPhone" column="R_PHONE"/>
      <result property="rZipcode" column="R_ZIPCODE"/>
      <result property="rBasicadd" column="R_BASICADD"/>
      <result property="rDetailadd" column="R_DETAILADD"/>
      <result property="sStatus" column="S_STATUS"/>
      <result property="userId" column="USER_ID"/>
       <result property="rLevel" column="R_LEVEL"/>
   </resultMap>
   
   <insert id="insertBoard" parameterType="Shipping">
		insert into shipping values(
			seq_ship.nextval, #{sName}, #{rName}, #{rPhone}, #{rZipcode}, #{rBasicadd},
			#{rDetailadd}, default, default, #{userId}
		)
	</insert>
	
	<update id="deleteShipping" parameterType="_int">
		update shipping
		set s_status='N'
		where s_no=#{sNo}
	</update>
	
	<update id="updateShipping" parameterType="Shipping">
		update shipping
		set s_name=#{sName}, r_name=#{rName}, r_phone=#{rPhone},
			r_zipcode=#{rZipcode}, r_basicadd=#{rBasicadd}, r_detailadd=#{rDetailadd}
		where s_no=#{sNo}
	</update>
	<update id="updaterLL" parameterType="Shipping">
		update shipping
		set r_Level='1'
		where r_level='0'
	</update>
	<update id="updaterL" parameterType="Shipping">	
		 update shipping
		set r_Level='0'
		where s_no=#{sNo}
	</update>
	

	
	
	
	<select id="getorListCount" resultType="_int">
		select count(*)
		from order_detail
		where or_status='Y'
	</select>
	
<!-- 	<select id="selectorList" resultMap="OrderDetailResultSet">
		select orNo, orDate, orStatus, bkName
		from order_list
		where or_status = 'Y'
			
	</select> -->
	<select id="selectorList" resultMap="OrlistResultSet">
		select or_no, or_date, or_status, decode(del_status,'1','배송준비중','2','배송완료') as del_status, bk_name, change_name, IMA
		from order_list
		where or_status = 'Y'
			
	</select>
	
	<resultMap type="Orlist" id="OrlistResultSet">
		<result property="orNo" column="OR_NO"/>
		<result property="bkName" column="BK_NAME"/>
		<result property="orDate" column="OR_DATE"/>
		<result property="orStatus" column="OR_STATUS"/>
		<result property="delStatus" column="DEL_STATUS"/>
		<result property="changeName" column="CHANGE_NAME"/>
		<result property="ima" column="IMA"/>
		
	</resultMap>
	<!-- <select>
	SELECT change_name
FROM AUDIO_FILE
WHERE AUD_CODE = (SELECT AUD_CODE_F
                FROM ORDER_DETAIL
                WHERE OR_NO = '2' AND USER_ID = 'user04');
	</select> -->
	
	 <resultMap type="OrderDetail" id="OrderDetailResultSet">
		<id property="orNo" column="OR_NO"/>
		<result property="bkCode" column="BK_CODE"/>
		<result property="audCodeF" column="AUD_CODE_F"/>
		<result property="audCodeM" column="AUD_CODE_M"/>
		<result property="orPrice" column="OR_PRICE"/>
		<result property="orDate" column="OR_DATE"/>
		<result property="delRequest" column="DEL_REQUEST"/>
		<result property="delStatus" column="DEL_STATUS"/>
		<result property="orStatus" column="OR_STATUS"/>
		<result property="containBk" column="CONTAIN_BK"/>
		<result property="sNo" column="S_NO"/>
		<result property="userId" column="USER_ID"/>
	</resultMap> 
	
	<update id="deleteBuy" parameterType="_int">
		update order_list
		set or_status='N'
		where or_no=#{orNo}
	</update>
	
	<select id="getcartListCount" resultType="_int">
		select count(*)
		from cart
		where status='Y'
	</select>
	
	<select id="selectcartList" resultMap="cartListResultSet">
		select c_no, bk_name, bk_code, aud_code_f, aud_code_m, status, or_price, change_name
		from cart_list
		where status = 'Y'
	
	</select>
	
	<update id="deletecart" parameterType="_int">
		update cart
		set status='N'
		where c_no=#{cNo}
	</update>
	
	<resultMap type="cartList" id="cartListResultSet">
		<result property="cNo" column="C_NO"/>
		<result property="bkName" column="BK_NAME"/>
		<result property="status" column="STATUS"/>
		<result property="bkCode" column="BK_CODE"/>
		<result property="audCodeF" column="AUD_CODE_F"/>
		<result property="audCodeM" column="AUD_CODE_M"/>
		<result property="orPrice" column="OR_PRICE"/>
			<result property="userId" column="USER_ID"/>
			<result property="changeName" column="CHANGE_NAME"/>
	</resultMap>
	
	
<!-- 	<insert id="orderInsert">
		insert into order_detail
		values(seq_or.nextval, #{bkCode}, #{audCodeF}, #{audCodeM}, #{orPrice}, default,
				#{delRequest}, default, default, #{containBk}, #{sNo}, #{userId})
	</insert> -->
</mapper>
