<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="volunteerMapper">

	<insert id="insertSchedule">
		insert into volunteer_add
		values(SEQ_VOL_SCH.NEXTVAL, #{volContent},#{volStart},#{volEnd},#{volMax},default,default)
	</insert>
	
	<resultMap type="VolunteerSchedule" id="ScheduleResultSet">
		<id property="volAddNum" column ="vol_add_num" />
		<result property="volContent" column="vol_content" />
		<result property="volStart" column="vol_start" />
		<result property="volEnd" column="vol_end" />
		<result property="volMax" column="vol_max" />
		<result property="volStatus" column="vol_status" />
		<result property="volCur" column="vol_cur" />
	</resultMap>
	
	<select id="getSchedule" resultMap = "ScheduleResultSet">
		select vol_add_num, vol_content, vol_start, vol_end, vol_max, vol_status
		from volunteer_add
	</select>
	
	<insert id="insertEntry">
		insert into volunteer
		values(SEQ_ENTRY.NEXTVAL, default, #{userID}, #{vlNum2}, #{vlPhone}, #{userName})
	</insert>
	
	
	<select id="checkMax" resultType="_int">
		UPDATE VOLUNTEER_ADD
		SET VOL_CUR = VOL_CUR+1
		WHERE VOL_ADD_NUM = #{vlNum2} and vol_max>vol_cur and vol_status = 'Y'
	</select>
	
	<resultMap type="Volunteer" id="volResultSet">
		<id property="vlNum" column ="vl_num" />
		<result property="vlStatus" column="vl_status" />
		<result property="userID" column="user_id" />
		<result property="vlNum2" column="vl_num2" />
		<result property="vlPhone" column="vl_phone" />
		<result property="userName" column="user_name" />
	</resultMap>
	
	<select id="selMyVol" resultMap = "myVolResultSet">
		select USER_ID, VL_STATUS, VOL_START, VOL_END, VOL_STATUS, VOL_CONTENT, VL_NUM2
		from myvol_list
		where vl_status ='Y' and user_id = #{userId}
		order by vol_start desc
	</select>
	
	<resultMap type="MyVolunteerActivity" id="myVolResultSet">
		<result property="userId" column="USER_ID" />
		<result property="vlStatus" column="VL_STATUS" />
		<result property="volStart" column="VOL_START" />
		<result property="volEnd" column="VOL_END" />
		<result property="volStatus" column="VOL_STATUS" />
		<result property="volContent" column="VOL_CONTENT" />
		<result property="vlNum2" column="VL_NUM2" />
	</resultMap>
	
	<update id="cancelVol">
		update volunteer
		set vl_status = 'N'
		where vl_num2 = #{vlNum2}
	</update>
	
	<update id="updateCur">
		UPDATE VOLUNTEER_ADD
		SET VOL_CUR = VOL_CUR-1
		WHERE VOL_ADD_NUM = #{vlNum2}
	</update>
	
	<select id="checkDe" resultType="_int">
		select count(*)
		from volunteer
		where user_id = #{userID} and vl_num2 = #{vlNum2} and vl_status = 'Y'
	</select>
	
	<select id="checkDate" resultType="_int">
		<![CDATA[
			select count(*)
			from volunteer_add
			where vol_add_num = #{volAddNum} and vol_start <= SYSDATE
		]]>
	</select>
	
	<update id="updateStatus">
		<![CDATA[
			UPDATE VOLUNTEER_ADD
			SET VOL_STATUS = 'N'
			WHERE VOL_START <= SYSDATE
		]]>
	</update>
	
	<!-- <select id="selectMax" resultMap ="ScheduleResultSet">
		select vol_max, vol_cur
		from volunteer_add
		where vol_add_num = #{vlNum2}
	</select> -->
	
</mapper>
